---
import {footer_container, footer_link, footer_text} from "./styles.css";
---


<div class={footer_container}>
    <div class={footer_text}>
        Copyright © 2024 SIM-VICUS
    </div>
    <div class={footer_text}>
        Icons made by Freepik from www.flaticon.com
    </div>
    <ul>
        <a class={footer_link}>
            IMPRESSUM
        </a>
        <a class={footer_link}>
            DATENSCHUTZERKLÄRUNG
        </a>
    </ul>

</div>