---
import {image_wrapper_style, navbar_link_style, navbar_style, navbar_wrapper_style} from "./styles.css";
import { Image } from 'astro:assets';
import {ThemeToggle} from "./componenents/ThemeToggle";
import {NavbarLinks} from "./page/links";
import {githubPagesLinkHelper} from "../../../utils/githubPagesLinkHelper";


---

<nav class={navbar_style}>
    <div class={image_wrapper_style}>
    <Image src={githubPagesLinkHelper("/simvicus_logo_website.webp")} alt="Logo" width="150" height="50" />
    </div>
    <div class={navbar_wrapper_style}>
        {
            NavbarLinks.map((link) =>

                <a class={navbar_link_style} href={link.href}>
                    {link.name}
                </a>

            )
        }

        <ThemeToggle client:visible />
    </div>
</nav>