---

import "../../../styles/global.css"
import { ViewTransitions } from 'astro:transitions';

const {title, description, date,imageUrl} = Astro.props
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="date" content={date} />
    <meta property="og:image" content={imageUrl} />
</head>
<body>
<slot/>
</body>
</html>