---
import {image_wrapper_style, navbar_link_style, navbar_style, navbar_wrapper_style} from "./styles.css";
import { Image } from 'astro:assets';
---

<nav class={navbar_style}>
    <div class={image_wrapper_style}>
    <Image src="/public/simvicus_logo_website.webp" alt="Logo" width="150" height="50" />
    </div>
    <div class={navbar_wrapper_style}>
    <a class={navbar_link_style}>
        Home
    </a>
    <a class={navbar_link_style}>
        News
    </a>
    <a class={navbar_link_style}>
        Features
    </a>
    <a class={navbar_link_style}>
        Schulungen
    </a>
    <a class={navbar_link_style}>
        Team
    </a>
    <a class={navbar_link_style}>
        Support und Lizenzen
    </a>
    <a class={navbar_link_style}>
        Forum
    </a>
    </div>
</nav>