---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/global.css";
import { Image } from 'astro:assets';
import {
	background_wrapper, index_page_wrapper, next_section,
	space,
	stone_space, stone_space_bottom,
	stone_space_top,
	stone_wall
} from "../styles/routes/index/styled.css";
import Macbook from "../components/routes/index/Macbook.astro";
import IntroHeader from "../components/routes/index/components/text_banner/IntroHeader.astro";
import Head from "../components/layout/header/Head.astro";
import NewsBanner from "../components/routes/index/components/news_banner/NewsBanner.astro";


---

<Head>
		<BaseLayout>
			<Macbook/>
			<div class={background_wrapper}>

				<div class={index_page_wrapper}>

                  <IntroHeader  />

				</div>

	<Image class={space}  width="100%" height="100%" alt="background" src="/Midnight.jpeg"/>

				<div class={stone_space}>
					<div class={stone_space_top}/>
					<div class={stone_space_bottom}>
						<Image class={stone_wall}  width="100%" height="100%" alt="background" src="/stone_wall.webp"/>
					</div>

			</div>
			</div>

			<div class={next_section}>
				<NewsBanner/>
			</div>

		</BaseLayout>

</Head>



